@import url(./fonts/font.css);
@import "tailwindcss";
@theme {
    --font-poppins: poppins;
    --font-DMSans: DMSans;

    --color-text-dark-primary: #222325;
    --color-secondary: #333333;
}

* {
    font-family: DMSans;
}
